.projects {
  max-width: 1440px;
  margin: 0 auto;
}

.projects__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  padding: 30px 0;
}

.projects__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.projects__project {
  width: 350px; 
  min-height: 240px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.projects__image {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  opacity: 0;
  border-radius: 5px;
}

.project__details:hover {
  opacity: 1;
}

.project__details-text {
  text-align: center;
}

.project__details-link, .project__details-text {
  padding: 5px 10px;
  margin: 5px 0;
  color: var(--text-color);
  text-decoration: none;
}

.project__details-link {
  border: 1px solid var(--text-color);
  border-radius: 6px;
}

.project__details-text:nth-last-of-type(1) {
  font-style: italic;
}

.project__details-link:hover {
  background-color: var(--accent-color);
  border-color: transparent;
}

@media screen and (max-width: 1400px) {
  .projects__container {
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .projects__container {
    grid-template-columns: repeat(1, 350px);
  }
  .project__details {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  .projects {
    padding: 20px;
  }
  .projects__title {
    font-size: 32px;
  }
}


@media screen and (max-width: 375px) {
  .projects__project {
    width: 250px; 
    min-height: 300px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
  }
}