@keyframes breath {
  0% {
    border-radius: 45% 55% 51% 49% / 26% 42% 58% 74%;
  }
  10% {
    border-radius: 38% 62% 37% 63% / 44% 32% 68% 56%;
  }
  20% {
    border-radius: 47% 53% 49% 51% / 51% 45% 55% 49%;
  }
  30% {
    border-radius: 35% 65% 34% 66% / 60% 35% 65% 40%;
  }
  40% {
    border-radius: 42% 58% 46% 54% / 69% 31% 69% 31%;
  }
  50% {
    border-radius: 74% 26% 59% 41% / 40% 58% 42% 60%;
  }
  60% {
    border-radius: 42% 58% 46% 54% / 69% 31% 69% 31%;
  }
  70% {
    border-radius: 35% 65% 34% 66% / 60% 35% 65% 40%;
  }
  80% {
    border-radius: 47% 53% 49% 51% / 51% 45% 55% 49%;
  }
  90% {
    border-radius: 38% 62% 37% 63% / 44% 32% 68% 56%;
  }
  100% {
    border-radius: 45% 55% 51% 49% / 26% 42% 58% 74%;
  }
}

/* .hero {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
} */

/* .hero__info {
  margin-right: 20px;
} */

.hero__avatar {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  animation: breath 30s linear infinite;
  background-color: var(--accent-color);
  border: 8px solid var(--accent-color);
  box-shadow: 0 15px 50px -15px var(--accent-color);
  background-image: url('../../images/avatar.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 70%;
  margin: 0 auto;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  z-index: 9999;
}

.hero__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 15px 0 0px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  width: 100%;
}

.hero__list-item {
  margin-right: 20px;
}

.hero__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 12px 0;
}

.hero__link {
  padding: 14px 24px;
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 100;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  text-align: center;
}

/* .hero__link_circle {
  border-radius: 50%;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  z-index: 1;
} */

.hero__link:hover {
  box-shadow: 0 15px 30px -15px rgba(255, 255, 255, 0.5);
  opacity: .9;
}

/* .hero__link:hover .hero__link_circle {
  height: 250px;
  width: 250px;
} */

.hero__list-item:nth-last-of-type(1) {
  margin-right: 0;
}

@media screen and (max-width: 1600px) {
  .hero__avatar {
    width: 650px;
    height: 650px;
  }
}

@media screen and (max-width: 1400px) {
  .hero__avatar {
    width: 550px;
    height: 550px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .hero__avatar {
    width: 400px;
    height: 400px;
  }
  .hero__title {
    font-size: 42px;
  }

  .hero__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__avatar {
    width: 400px;
    height: 400px;
  }
  .hero__title {
    font-size: 45px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 24px;
    text-align: center;
  }

  .hero__list {
    flex-direction: column;
  }

  .hero__list-item {
    margin: 10px 0;
  }

  .hero__info {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero__avatar {
    width: 500px;
    height: 500px;
    margin-bottom: 35px;
  }
  .hero__title {
    font-size: 48px;
    text-align: center;
  }
  .hero__subtitle {
    font-size: 18px;
    text-align: center;
  }
  .hero__info {
    margin-right: 0px;
  }

  .hero__link {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .hero__avatar {
    width: 350px;
    height: 350px;
  }
  .hero__title {
    font-size: 38px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .hero__avatar {
    width: 100%;
    margin-bottom: 35px;
  }
  .hero__avatar {
    width: 250px;
    height: 250px;
  }
  .hero__title {
    font-size: 28px;
  }
  .hero__subtitle {
    font-size: 12px;
  }
  .hero__link {
    font-size: 14px;
  }
}
