@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --main-bg-color: #121B2B;
  --text-color: #e6e6e9;
  --subtext-color: #4e4e50;
  --accent-color: #6F85DE;
  --icon-color: #6F85DE;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg)
  }
  50% {
    filter: hue-rotate(360deg)
  }
  100% {
    filter: hue-rotate(0deg)
  }
}

.App {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  min-height: 100vh;
  /* animation: rotate 1s linear infinite; */
}

.App * {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  font-family: 'DM Sans', sans-serif;
}

.App *::selection {
  background-color: var(--accent-color);
  color: var(--text-color);
}
