/* .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
} */

.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.about__techs {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.about__my-techs_icon {
  width: 48px;
}

.about__techs-list {
  max-width: 745px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  padding: 38px 0;
  margin: 0 auto;
  list-style: none;
}

.about__techs-list-item {
  padding: 10px 0;
}

.about__my-techs-list {
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__my-techs-list-item {
  position: relative;
  text-align: center;
}

.about__my-techs-list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  text-transform: capitalize;
  width: 100%;
  opacity: 1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 425px) {
  .about__techs-list-item {
    font-size: 18px;
  }
  .about__title {
    font-size: 28px;
  }
}

