.footer {
  padding: 30px 80px;
  width: 100%; 
  max-width: 1440px;
  margin: 0 auto;
}

.footer__cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
}

.footer__card-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--accent-color);
  text-decoration: none;
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.footer__card-icon_active:hover {
  opacity: .8;
  background-color: var(--text-color);
  border-color: transparent;
}

.footer__card-title {
  margin: 0;
  padding: 18px 0 3px;
}

.footer__card-subtitle {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) { 
  .footer__card-title {
    margin: 0;
    padding: 18px 0 3px;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .footer__card-subtitle {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .footer__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 60px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 20px;
  }
  .footer__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 20px;
  }
  .footer__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 40px;
  }
}